In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../osstate/extracted/states_2022-01-03-00.csv.gz', compression='gzip')

In [4]:
print('Number of rows: ', df.shape[0])
print('Columns: ', df.columns)

Number of rows:  2103859
Columns:  Index(['time', 'icao24', 'lat', 'lon', 'velocity', 'heading', 'vertrate',
       'callsign', 'onground', 'alert', 'spi', 'squawk', 'baroaltitude',
       'geoaltitude', 'lastposupdate', 'lastcontact'],
      dtype='object')

In [5]:
df.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1641168000,4ca8e8,52.980357,0.948434,193.792496,284.921620,0.00000,RYR23RR,False,False,False,2267.0,11582.40,11330.94,1.641168e+09,1.641168e+09
1,1641168000,471f41,42.852219,5.691572,239.283384,55.865788,0.32512,WZZ5552,False,False,False,1014.0,10972.80,11300.46,1.641168e+09,1.641168e+09
2,1641168000,aa56d4,38.396844,-77.004905,288.196102,39.059131,0.00000,UAL1560,False,False,False,5665.0,11277.60,11422.38,1.641168e+09,1.641168e+09
3,1641168000,3c4582,52.690109,-1.461182,158.457103,149.355259,26.00960,BOX193,False,False,False,2261.0,3695.70,3604.26,1.641168e+09,1.641168e+09
4,1641168010,a4ee2e,40.516694,-76.364906,164.960141,281.695403,5.20192,AAL2663,False,False,False,1634.0,8168.64,8168.64,1.641168e+09,1.641168e+09